
#navbar {
    position: fixed;
    z-index: 1;
}

#navbar ul {
    text-align: right;
    width: 100%;
    position: fixed;
    background-color: #c5d5c5;
    z-index: 1;
}

#navbar li {
    display: inline-block;
    margin: 50px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-bottom: 0px;
}

#navbar a {
    text-decoration: none;
    color: #000;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

#navbar a:hover {
    color: #fff;
    background-color: #9fa9a3;
    transition-duration: 0.3s;
}

h1 {
    text-align: center;
}

#welcome-section p {
    text-align: center;
}

#welcome-section {
    background-color: #c5d5c5;
    height: 100vh;
}

#welcome-section h1 {
    padding-top: 42vh;
}
#welcome-section p {
    padding-top: 15px;
    font-size: 1.5em;
}

#projects {
    background-color: #e3e0cc;
    padding-top: 45px;
}

.project-row {
    display: flex;
    flex-direction: row;
    margin-left: 12vw;
}

#projects img {
    width: 35vw;
    height: 20vw;
}

.project-tile {
    margin: 20px;
    
}


.project-tile a:hover {
    opacity: 0.3;
    transition-duration: 0.3s;
}

.project-tile img {
    border-style: solid;
    border-color: #f0f0f0;
    border-width: 1px;
}

#contact {
    background-color: #9fa9a3;
    padding-top: 45px;
    padding-bottom: 20px;
}

.contact-row {
    display: flex;
    flex-direction: row;
}

#form-div {
    width: 30vw;
    margin-left: 15vw;

}

#form-div label {
    font-weight: bold;
}
#form-div input {
    display: block;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: bold;
}

#form-div textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#submit:hover {
    background-color: #c5d5c5;
    transition-duration: 0.3s;
}

#social-div {
    margin-left: 15vw;
}

#facebook {
    background: #3B5998;
    color: white;
}

#facebook:hover {
    background: #FFFFFF;
    color: #3B5998;
}

#twitter {
    background: #55ACEE;
    color: white;
}

#twitter:hover {
    background: #FFFFFF;
    color: #55ACEE;
}

#github {
    background: #2B2728;
    color: white;
}

#github:hover {
    background: #FFFFFF;
    color: #2B2728;
}

#youtube {
    background: #cc181e;
    color: white;
}

#youtube:hover {
    background: #FFFFFF;
    color: #cc181e;
}

#free-code-camp {
    background: #00a31b;
    color: white;

}

#free-code-camp:hover {
    background: #FFFFFF;
    color: #00a31b;
}

#soundcloud {
    background: #ff7700;
    color: white;

}

#soundcloud:hover {
    background: #FFFFFF;
    color: #ff7700;
}

#spotify {
    background: #84bd00;
    color: white;
}

#spotify:hover {
    background: #FFFFFF;
    color: #84bd00;
}

#linkedin {
    background: #0077B5;
    color: white;
}

#linkedin:hover {
    background: #FFFFFF;
    color: #0077b5;

}

.icon-fa {
    padding-top: 1vw;

}

.circle-fa {
    text-align: center;
    text-decoration: none;
}

.circle-fa:hover {
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    transition-duration: 0.3s
}

.circle {
    text-align: center;
    border-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;

}

.circle-text {
    font-weight: bold;
}
.circle-container {
    position: relative;
    width: 20vw;
    height: 20vw;
    padding: 7vw;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 1px;
    border-radius: 50%;
    margin: 2.5vw;
    font-size: 1.5vw;

}

.circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5vw;
    height: 5vw;
    margin: -2.5vw;

    border-radius: 50%;
    font-size: 3vw
}


.circle-container p {
    text-align: center;
    width: 100%;
}

.deg0 {
    transform: translate(10vw);
}

/* 12em = half the width of the wrapper */
.deg45 {
    transform: rotate(45deg) translate(10vw) rotate(-45deg);
}

.deg90 {
    transform: rotate(90deg) translate(10vw) rotate(-90deg);
}

.deg135 {
    transform: rotate(135deg) translate(10vw) rotate(-135deg);
}

.deg180 {
    transform: translate(-10vw);
}

.deg225 {
    transform: rotate(225deg) translate(10vw) rotate(-225deg);
}

.deg270 {
    transform: rotate(270deg) translate(10vw) rotate(-270deg);
}

.deg315 {
    transform: rotate(315deg) translate(10vw) rotate(-315deg);
}

footer {
    background-color: #c5d5c5;
    text-align: center;
    padding-bottom: 7px;
    padding-top: 10px;
}

main {
    background-color: #c5d5c5;
}

/* Small devices (landscape phones, less than 768px)*/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

    #navbar ul {
        text-align: center;
        width: 100%;
        
    }
    #navbar li {
        margin: 5px;
        font-size: 30px;
    }

    h2 {
        font-size: 30px;
    }
    .project-row {
        flex-direction: column;
        margin-left: 1vw;
    }

    #projects img {
        width: 90vw;
        height: auto;
    }

    .contact-row {
        flex-direction: column;
        padding-bottom: 20px;
    }

    #form-div {
        width: 90vw;
        margin-left: 5vw;

    }
    #form-div label {
        font-weight: bold;
        font-size: 30px;
    }
    #form-div input {
        display: block;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: bold;
        line-height: 50px;
        font-size: 30px;
    }
    
    #form-div textarea {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        line-height: 50px;
        font-size: 30px;
    }

    #social-div {
        margin-left: 0vw;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /*Social circle styling*/
    .circle-container {
        position: relative;
        width: 60vw;
        height: 60vw;
        padding: 10.7vw;
        /*
    2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))
    
    */
        border: dashed 1px;
        border-radius: 50%;
        margin: 1.75em auto 0;
        font-size: 20px;

    }

    .circle-container a {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 15vw;
        height: 15vw;
        margin: -7.5vw;

        border-radius: 50%;
        font-size: 7.5vw;

    }
    .circle-text {
        font-size: 8vw;
        ;
    }

    .icon-fa {
        padding-top: 3.75vw;

    }

    .circle-fa {
        text-align: center;
        text-decoration: none;
    }

    .deg0 {
        transform: translate(30vw);
    }

    /* 12em = half the width of the wrapper */
    .deg45 {
        transform: rotate(45deg) translate(30vw) rotate(-45deg);
    }

    .deg90 {
        transform: rotate(90deg) translate(30vw) rotate(-90deg);
    }

    .deg135 {
        transform: rotate(135deg) translate(30vw) rotate(-135deg);
    }

    .deg180 {
        transform: translate(-30vw);
    }

    .deg225 {
        transform: rotate(225deg) translate(30vw) rotate(-225deg);
    }

    .deg270 {
        transform: rotate(270deg) translate(30vw) rotate(-270deg);
    }

    .deg315 {
        transform: rotate(315deg) translate(30vw) rotate(-315deg);
    }
}